<% if @negative_topic.errors.any? %>
  // Error
<% else %>
  // Add the negative topic line to table
  $('#negative-topics-table').find('tbody').append(
    '<tr data-id="<%= @negative_topic.id %>">' +
      '<td class="description"><%= @negative_topic.description %></td>' +
      '<td class="actions">' +
        '<div data-ls-module="dropdown" class="ls-dropdown ls-group-btn">' +
          '<button  class="ls-btn"></button>' +
          '<ul class="ls-dropdown-nav">' +
            '<li><%= link_to t("button.edit"), edit_retrospective_negative_topic_path(@retrospective.id, @negative_topic.id), remote: true, title: t("button.edit") %></li>' +
            '<li><%= link_to t("button.delete"), [@retrospective, @negative_topic], method: :delete, remote: true, title: t("button.delete") %></li>' +
          '</ul>' +
        '</div>' +
      '</td>' +
    '</tr>'
  );

  // Init locastyle dropdown module
  locastyle.dropdown.init();

  // Remove the input value
  $('#negative_topic_description').val('');
<% end %>
