<% if @negative_topic.errors.any? %>
  // Error
<% else %>
  // Add the negative topic line to table
  $('#negative-topics-table').find('tbody').append(
    '<tr data-id="<%= @negative_topic.id %>">' +
      '<td class="description"><%= @negative_topic.description %></td>' +
      '<td class="actions">' +
        '<div class="ls-group-btn">' +
          '<%= link_to "", edit_retrospective_negative_topic_path(@retrospective.id, @negative_topic.id), remote: true, class: "ls-btn ls-ico-pencil", title: t("button.edit") %>' +
          '<%= link_to "", [@retrospective, @negative_topic], class: "ls-btn-danger ls-ico-close", method: :delete, remote: true, title: t("button.delete") %>' +
        '</div>' +
      '</td>' +
    '</tr>'
  );

  // Init the dropdown module to
  locastyle.dropdown.init();

  // Remove the input value
  $('#negative_topic_description').val('');
<% end %>
