<aside class="ls-sidebar">

  <div class="ls-sidebar-inner">

    <nav class="ls-menu">
      <ul>
        <li>
          <a href="#" class="ls-ico-home" title="Página Inicial">Página Inicial</a>
        </li>
        <li>
          <!-- <a href="#" class="ls-ico-plus" title="Criar Retrospectiva">Criar Retrospectiva</a> -->
          <%= link_to 'Criar Retrospectiva', 'retrospective/new', class: 'ls-ico-plus', title: 'Criar Retrospectiva' %>
        </li>
        <!-- <li><a href="#" class="ls-ico-text" title="Lista de Retrospectivas">Lista de Retrospectivas</a></li> -->
      </ul>
    </nav>

  </div>

</aside>
