<aside class="ls-sidebar">

  <div class="ls-sidebar-inner">

    <nav class="ls-menu">
      <ul>
        <li>
          <%= link_to t('menu.teams'), root_path, class: 'ls-ico-users', title: t('menu.teams') %>
        </li>
        <li>
          <%= link_to t('menu.retrospectives'), team_retrospectives_path(current_team), class: 'ls-ico-calendar', title: t('menu.retrospectives') if current_team %>
        </li>
        <li>
          <%= link_to t('menu.create_retrospective'), new_team_retrospective_path(current_team), class: 'ls-ico-plus', title: t('menu.create_retrospective') if current_team %>
        </li>
        <li>
          <%= link_to t('menu.config'), team_config_path(current_team), class: 'ls-ico-cog', title: t('menu.config') if current_team %>
        </li>
      </ul>
    </nav>

  </div>

</aside>
