<aside class="ls-sidebar">

  <div class="ls-sidebar-inner">

    <nav class="ls-menu">
      <ul>
        <li>
          <%= link_to t('menu.my_retrospectives'), root_path, class: 'ls-ico-home', title: t('menu.my_retrospectives') %>
        </li>
        <li>
          <%= link_to t('menu.create_retrospective'), new_retrospective_path, class: 'ls-ico-plus', title: t('menu.create_retrospective') %>
        </li>
      </ul>
    </nav>

  </div>

</aside>
