<% if @doubt.errors.any? %>
  // Error
<% else %>
  // Add the doubt line to table
  $('#doubts-table').find('tbody').append(
    '<tr data-id="<%= @doubt.id %>">' +
      '<td class="description"><%= @doubt.description %></td>' +
      '<td class="actions">' +
        '<div data-ls-module="dropdown" class="ls-dropdown ls-group-btn">' +
          '<button  class="ls-btn"></button>' +
          '<ul class="ls-dropdown-nav">' +
            '<li><%= link_to t("button.edit"), edit_retrospective_doubt_path(@retrospective.id, @doubt.id), remote: true, title: t("button.edit") %></li>' +
            '<li><%= link_to t("button.delete"), [@retrospective, @doubt], method: :delete, remote: true, title: t("button.delete") %></li>' +
          '</ul>' +
        '</div>' +
      '</td>' +
    '</tr>'
  );

  // Init locastyle dropdown module
  locastyle.dropdown.init();

  // Remove the input value
  $('#doubt_description').val('');
<% end %>
