<% if @positive_topic.errors.any? %>
  // Error
<% else %>
  // Add the positive topic line to table
  $('#positive-topics-table').find('tbody').append(
    '<tr data-id="<%= @positive_topic.id %>">' +
      '<td class="description"><%= @positive_topic.description %></td>' +
      '<td class="actions">' +
        '<div class="ls-group-btn">' +
          '<%= link_to "", edit_retrospective_positive_topic_path(@retrospective.id, @positive_topic.id), remote: true, class: "ls-btn ls-ico-pencil" %>' +
          '<%= link_to "", [@retrospective, @positive_topic], class: "ls-btn-danger ls-ico-close", method: :delete, remote: true %>' +
        '</div>' +
      '</td>' +
    '</tr>'
  );

  // Init the dropdown module to
  locastyle.dropdown.init();

  // Remove the input value
  $('#positive_topic_description').val('');
<% end %>
