<h1 class="ls-title-intro ls-ico-eye"><%= @retrospective.title %></h1>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Sala <%= @retrospective.room %> - Dia <%= @retrospective.date %></h2>
  </header>
</div>
